.carousel {
  position: relative;
  aspect-ratio: 739 / 416;
  width: 100%;

  &::after {
    width: 100%;
    height: 15rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  }

  .left-arrow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2rem;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0)
    );
  }

  .right-arrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2rem;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0)
    );
  }

  .image {
    width: 100%;
  }

  .info {
    position: absolute;
    width: 50%;
    top: calc(50% - 6rem);
    left: 5rem;
    color: white;
  }
}
