.chips {
  margin-top: 1rem;
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;

  .chip {
    padding: 0.3rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
    color: white;

    .label {
      margin-right: 0.3rem;
    }

    .x-mark {
      cursor: pointer;
    }
  }
}
