.chips {
  margin-top: 1rem;
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;

  .chip {
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    .x-mark {
      cursor: pointer;
    }
  }
}
