.form-input {
  padding: 1rem 0.75rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #212121;
  color: white;
}
.mb-1 {
  margin-bottom: 1rem;
}
