.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
  color: #fdfdfd;

  &.active {
    background-color: black;
    box-shadow: 0px 2px 10px #2b2a2a;
  }

  .navbar-menu {
    height: 3.3rem;
    position: relative;
    display: flex;
    padding: 0 2rem 0 1.7rem;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      height: 1.4rem;
    }

    .navbar-hamburger {
      cursor: pointer;
    }

    .navbar-links {
      display: none;
    }

    .profile-icon {
      display: none;
    }

    .profile-dropdown {
      display: none;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background-color: black;
    margin: 1rem 2rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 700px) {
  .navbar {
    .navbar-menu {
      column-gap: 1.7rem;

      .navbar-hamburger {
        display: none;
      }

      .navbar-links {
        display: flex;
        flex-grow: 1;

        a {
          text-decoration: none;
          color: #fdfdfd;
          font-size: 1rem;
          padding: 0.5rem;

          &.active {
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 0.5rem;
          }
        }
      }

      .profile-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
      }

      .profile-dropdown {
        display: block;
        position: absolute;
        width: 10rem;
        background-color: #212121;
        color: #fdfdfd;
        right: 2rem;
        top: 2.7rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px #212121;

        div {
          cursor: pointer;
        }
      }
    }

    .menu-item {
      display: none;
    }
  }
}
